{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "react",
      "@typescript-eslint",
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "react-app",
      "plugin:prettier/recommended",
      "prettier/prettier",
    ],
    "rules": {
      "prettier/prettier": ["error", {}, {
        "usePrettierrc": false
      }],
      "react/prop-types": [
        "warn",
        {
          "skipUndeclared": true
        }
      ],
      "no-console": "warn",
      "no-eval": "warn",
      "import/first": [
        "warn",
        "absolute-first"
      ],
      "comma-dangle": [
        2,
        "only-multiline"
      ],
      "@typescript-eslint/no-use-before-define": "off",
      "import/order": [
        "error",
        {
          "groups": ["builtin", "external", "internal"],
          "pathGroups": [
            {
              "pattern": "react",
              "group": "external",
              "position": "before"
            }
          ],
          "pathGroupsExcludedImportTypes": ["react"],
          "newlines-between": "always",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          }
        }
      ],
    },
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      }
    },
    "env": {
      "browser": true,
      "jasmine": true,
      "jest": true
    }
  }